
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>MVC-Kategoriya</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>adi</th>
        <th>Aciklama</th>
        <th>durum</th>
        <th>Guncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Tehsil</td>
        <td>Aciklama Yaptik</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Idman</td>
        <td>Aciklama Yaptik</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>

    </tr>
</table>
<button class="btn-info">Yeni Kategori</button>
<button class="btn-warning">Aciklama kismi</button>